# Backend
Backend/node_modules/

# Frontend
Frontend/node_modules/

# Environment files
*.env

# Logs
*.log

# Build folders (si aplica)
Backend/dist/
Frontend/build/

# IDE files
.vscode/
.idea/
.DS_Store